@import "styles/config";

.header {
  max-width: var(--max-width);
  margin: 0 auto;

  .pc {
    height: $header-pc-height;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $mobile) {
      display: none;
    }

    .logo {
      width: 100px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 80px;
        height: auto;
        display: block;
      }
    }

    ul {
      display: flex;

      li {

        a {
          height: $header-pc-height;
          line-height: $header-pc-height;
          font-size: 14px;
          color: var(--nav-color);
          display: block;
          padding: 0 25px;
        }
      }
    }
  }

  .mobile {
    display: none;
    position: fixed;
    top: 50px;
    right: 20px;
    z-index: 999;

    @media (max-width: $mobile) {
      display: flex;
    }

    .logo {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        display: block;
      }
    }

    .menu {
      width: $header-mobile-height;
      height: $header-mobile-height;
      position: relative;

      .menus {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);

        .item {
          width: $header-menu-width;
          height: 1px;
          background-color: var(--nav-color);
          position: absolute;
          animation-duration: .5s;
          animation-fill-mode: forwards;
          animation-direction: alternate;
          animation-timing-function: cubic-bezier(.215, .61, .355, 1);

          &.top {
            top: -$header-menu-shifting;
            transform: translateY(0);
          }

          &.center {
            animation-delay: .1s;
          }

          &.bottom {
            top: $header-menu-shifting;
          }
        }
      }

      &.active {

        .menus {

          .top {
            animation-name: menu-top-in;
          }

          .center {
            animation-name: menu-center-in;
          }

          .bottom {
            animation-name: menu-bottom-in;
          }
        }
      }

      &.close {

        .menus {

          .top {
            animation-name: menu-top-out;
          }

          .center {
            animation-name: menu-center-out;
          }

          .bottom {
            animation-name: menu-bottom-out;
          }
        }
      }
    }
  }
}

.mobile_container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  background-color: var(--background-color);

  ul {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    li {

      a {
        display: block;
        text-align: center;
        padding: 15px 0;
      }
    }
  }

  &.active {
    display: block;
    animation-name: content-in;
  }

  &.close {
    display: none;
    animation-name: content-out;
    animation-duration: .1s;
  }

}

@keyframes menu-top-in {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY($header-menu-shifting) rotate(0);
  }
  100% {
    transform: translateY($header-menu-shifting) rotate(-45deg);
  }
}

@keyframes menu-center-in {
  0% {
    width: $header-menu-width;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes menu-bottom-in {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-$header-menu-shifting) rotate(0);
  }
  100% {
    transform: translateY(-$header-menu-shifting) rotate(45deg);
  }
}

@keyframes menu-top-out {
  0% {
    transform: translateY($header-menu-shifting) rotate(-45deg);
  }
  50% {
    transform: translateY($header-menu-shifting) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes menu-center-out {
  0% {
    width: 0;
  }
  50% {
    width: $header-menu-width;
  }
  100% {
    width: $header-menu-width;
  }
}

@keyframes menu-bottom-out {
  0% {
    transform: translateY(-$header-menu-shifting) rotate(45deg);
  }
  50% {
    transform: translateY(-$header-menu-shifting) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes content-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes content-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}