@import "styles/config";

.header {
  max-width: var(--max-width);
  margin: 0 auto;

  .pc {
    height: $header-pc-height;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $mobile) {
      display: none;
    }

    .logo {
      width: 100px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 80px;
        height: auto;
        display: block;
      }
    }

    ul {
      display: flex;

      li {

        a {
          height: $header-pc-height;
          line-height: $header-pc-height;
          font-size: 14px;
          color: var(--nav-color);
          display: block;
          padding: 0 25px;
        }
      }
    }
  }

  .mobile {
    display: none;
    position: fixed;
    top: 50px;
    right: 20px;
    z-index: 999;

    @media (max-width: $mobile) {
      display: flex;
    }

    .logo {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        display: block;
      }
    }

    .menu {
      width: $header-mobile-height;
      height: $header-mobile-height;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &:global {

        &.close {

          .activated {
            display: block;
          }

          .closed {
            display: none;
          }
        }

        &.active {

          .activated {
            display: none;
          }

          .closed {
            display: block;
          }
        }
      }
    }
  }
}

.mobile_container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  background-color: var(--background-color);

  &:global {

    &.active {
      display: block;
      animation-name: content-in;
    }

    &.close {
      display: none;
      animation-name: content-out;
      animation-duration: .1s;
    }
  }

  ul {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    li {
      text-align: center;
      padding: 15px 0;
    }
  }
}

@keyframes content-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes content-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}