$mobile: 760px;

$mobile-padding-left-right: 20px;

$max-width: 1200px;
$main-width: 1000px;

$header-pc-height: 85px;
$header-mobile-height: 40px;
$header-menu-width: 20px;
$header-menu-shifting: 7px;